[Unit]
Description=Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/local/bin/backup.sh online
