snippet ( "pair of parentheses" i
(${1:${VISUAL}})$0
endsnippet

snippet [ "pair of brackets" i
[${1:${VISUAL}}]$0
endsnippet

snippet < "pair of angle brackets" i
<${1:${VISUAL}}>$0
endsnippet

snippet { "pair of curly braces" i
{${1:${VISUAL}}}$0
endsnippet
