snippet ( "pair of parentheses" i
(${1:${VISUAL}})$0
endsnippet

snippet [ "pair of brackets" i
[${1:${VISUAL}}]$0
endsnippet

snippet < "pair of angle brackets" i
<${1:${VISUAL}}>$0
endsnippet

snippet { "pair of curly braces" i
{${1:${VISUAL}}}$0
endsnippet

snippet ' "pair of single quotation marks" i
'${1:${VISUAL}}'$0
endsnippet

snippet " "pair of double quotation marks" i
"${1:${VISUAL}}"$0
endsnippet

snippet $ "pair of dollar signs" i
$${1:${VISUAL}}$$0
endsnippet
