[Unit]
Description=Rclone WebDav Server
After=network-online.target

[Service]
Type=simple
User=%I
ExecStart=/usr/bin/rclone serve webdav /home/%I/WebDav \
    --addr :3030 \
    --htpasswd /home/%I/.config/rclone/htpasswd

[Install]
WantedBy=multi-user.target
