/* Allow users in storage group to mount filesystems without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.filesystem-mount-system" &&
        subject.isInGroup("storage"))
    {
        return polkit.Result.YES;
    }
});

