[Unit]
Description=Backup Docker

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/bin/duplicity /root/docker file:///home/chris/Backup/Docker --no-encryption
