[Unit]
Description=Easy Effects
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/easyeffects --gapplication-service

[Install]
WantedBy=sway-session.target