[Unit]
Description=Unlock keyring using YubiKey
BindsTo=gnome-session-pre.target

[Service]
Type=oneshot
ExecStart=/home/chris/Code/Other/gnome-keyring-yubikey-unlock/unlock_keyrings.sh /home/chris/Code/Other/gnome-keyring-yubikey-unlock/login.gpg 123456

[Install]
WantedBy=gnome-session-pre.target