/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: black;
  color: #ccc;
  font-family: Roboto, Cantarell, Noto Sans, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.modules-right {
  padding-right: 10px;
}

/* Each module */
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-theme,
#custom-gammastep,
#custom-power,
#tray {
  padding-left: 7px;
  padding-right: 7px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 #clock {
   margin-left: 20px;
 }

#custom-swaync {
  min-width: 20px;
}

#custom-theme {
  margin-right: 6px;
}

#custom-gammastep.daytime {
  padding: 0;
}
#custom-gammastep.not-running {
  color: red;
}
#custom-gammastep.inhibited {
  opacity: 0.5;
}

#tray {
  margin-right: 10px;
}

#window {
  margin-left: 1em;
}

#workspaces button {
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #000000;
  border-radius: 15px;
  color: #888888;
}

#workspaces button:hover {
  background: unset;
  text-shadow: none;
  box-shadow: none;
}

#workspaces button.visible {
  background-color: #333;
  color: #ccc;
}

#workspaces button.focused {
  color: white;
  background-color: #333;
}

#workspaces button.urgent {
  color: white;
  background-color: #c9545d;
}
