[Unit]
Description=Automatic Screen Lock
Before=hibernate.target

[Service]
Environment=DISPLAY=:0
Type=simple
User=%I
ExecStart=/usr/bin/i3lock -i /home/%I/.i3/lockbg.png -n

[Install]
WantedBy=hibernate.target
