[Unit]
Description=Automatic Screen Lock
Before=sleep.target

[Service]
Environment=DISPLAY=:0
Type=forking
User=%I
ExecStart=/usr/bin/i3lock -i /home/%I/.config/i3/lockbg.png

[Install]
WantedBy=hibernate.target
