[Unit]
Description=RFKill-Block %I
After=rfkill-unblock@all.service
After=hibernate.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rfkill block %I

[Install]
WantedBy=multi-user.target
WantedBy=hibernate.target
