[Unit]
Description=Refresh DDNS addresses
StartLimitIntervalSec=10s
StartLimitBurst=1

[Service]
Type=simple
ExecStart=/usr/local/bin/ddns.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target