@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Global UI font */
/* * { */
/*   font-weight: normal; */
/* } */

#TabsToolbar {
  visibility: collapse;
}

#nav-bar {
  border-top-style: none !important;
}

#sidebar-splitter {
  width: 4px !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}
