/* Hide tabs bar */

#TabsToolbar {
  display: flex;
  height: 0;
}

.toolbar-items {
  visibility: collapse;
}

.titlebar-buttonbox-container {
  margin-left: auto;
  height: 42px;
}

#nav-bar {
  padding-left: 3px !important;
  padding-right: 40px !important;
}

.titlebar-buttonbox {
  margin: 0px 5px;
}

:root:not([uidensity=compact]):not([chromehidden~="toolbar"]) #PanelUI-button {
  margin-inline-start: 0px !important;
  border-inline-start: none !important;
  border-inline-end: 1px solid;
  padding-right: 5px;
}

/* Remove sidebar header and thick border */

#sidebar-header {
  display: none;
}

#sidebar-splitter {
  width: 0px !important;
  border-left-style: none !important;
}