[Unit]
Description=Restic backups to local hard drive

[Service]
User=restic
Group=restic
AmbientCapabilities=CAP_DAC_READ_SEARCH
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/local/bin/restic-local.sh
Environment=RESTIC_REPOSITORY=/mnt/hdd/backup
Environment=RESTIC_PASSWORD_FILE=/home/restic/restic-password-local
