[Unit]
Description=Weekly schedule backup routine for local restic repository

[Timer]
OnCalendar=Sun 14:00:00
Persistent=true
Unit=restic-local.service

[Install]
WantedBy=timers.target
