[Unit]
Description=Restic backups to local hard drive

[Service]
User=restic
Group=restic
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/local/bin/restic-local.sh
LoadCredentialEncrypted=restic-password-local.cred:/home/restic/restic-password-local.cred
Environment=RESTIC_REPOSITORY=/mnt/hdd/backup
Environment=RESTIC_PASSWORD_FILE=%d/restic-password-local.cred
