[Unit]
Description=restic backup

[Service]
User=chris
Group=alarm
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/local/bin/restic-backup.sh
LoadCredentialEncrypted=backup-key:/root/backup-key.cred
Environment=RESTIC_REPOSITORY=rclone:Google:Backup
Environment=RESTIC_PASSWORD_FILE=%d/backup-key