[Desktop Entry]
Name=KeePassXC Edu-Sharing
Comment=Unlock Edu-Sharing Database
Exec=sh -c "secret-tool lookup keepass Edu-Sharing | keepassxc --pw-stdin /home/chris/Work/Documents/Edu-Sharing.kdbx -platform wayland"
TryExec=keepassxc
Icon=keepassxc
StartupWMClass=keepassxc
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
Categories=Utility;Security;Qt;
MimeType=application/x-keepass2;
Actions=personal;edu-sharing;
NotShowIn=GNOME;KDE;Unity;