[Desktop Entry]
Name=NeovimGtk
Comment=Gtk GUI for Neovim text editor
# Exec=nvim-gtk -- %F
Exec=env GTK_THEME=Adwaita:dark nvim-gtk -- %F
# Icon=org.daa.NeovimGtk
Icon=vim
Type=Application
Terminal=false
Categories=GTK;Utility;TextEditor;
StartupNotify=true
