[Unit]
Description=Refresh Duck-DNS addresses
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/duckdns.sh